.navbar{
	position: relative;
	z-index: 1;
	padding-left: 0;
}
.navbar-brand{
	font-size: 14px;
	margin-left: -310px;
}
.bg-white {
    background-color: transparent !important;
}
#logo{
    width: 150px;
    height: 75px;
    color: #6c6c6c;
}
/*end navbar*/
.icon{
	display: grid;
}
#icon{
	margin: 14px;
}
.fa-instagram{
	color: #d1e4e4;
}
#second{
	position: relative;
    z-index: 1;
    right: -75px;
}
#first{
	top: -130px;
    position: relative;
    z-index: -1;
}
.btn-primary{
	height: 70px;
    width: 168px;
    border-radius: 0;
    background-color: #b4d3d3;
    font-size: 12px;
    border: none;
}
.button{
	position: relative;
    z-index: 1;
    top: -70px;
    left: -167px;
}
.button > span{
	width: 120px;
	height: 120px;
	background-color: #fff !important;
	margin-left: -6px;
	padding-bottom: 26px;
    padding-right: 35px;
    padding-top: 23px;
    padding-left: 24px;
}
/*end sec-1st*/
.inline{
	text-align: center;
    font-size: 14px;
    word-spacing: 25px;
    margin-top: 10px;
    margin-bottom: 40px;
} 
a{
	color: #73737a;
}
.under-line{
	color: black;
}
/*.section{
	position: relative;
	z-index: 0;
	cursor: pointer;
}
.section:hover{
	position: relative;
	z-index: 1;
}*/
.butt{
	display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-bottom: 10px;
}
.btn-secondary{
	letter-spacing: 1px;
	height: 39px;
    width: 137px;
	background-color: #b4d3d3;
    font-size: 10px;
    border: none;
    border-radius: 1.25rem;
}
/*end sec-2nd*/
h1{
	text-align: center;
}
.text-muted{
	font-size: 16px;
}
/*
.fa-play{
	margin-left: 10px;
	background-color: white;
}
*/
/*.col-md-3{
	max-width: 22%;
}
.row{
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 40px;

}

.fa-search{
	position: relative;
    z-index: 3;
    right: -435px;
    float: right;
}
.img-para{
	text-align: center;
    position: relative;
    z-index: 1;
    bottom: -145px;
}
.paragraph{
	display: flex;
    margin-left: 20px;
}
.btn-primary {
	border-radius: 0px;
}

.button{
	position: relative;
	z-index: 1;
	left: 78px;
	border-radius: 0px;
	top: -39px;
}
.button > .fa-play{
	color: #000;
	height: 100%;
}

.button > span{
	width: 120px;
	height: 120px;
	background-color: #fff !important;
	padding: 14px;
	margin-left: -6px;
	padding-bottom: 18px;
	padding-right: 30px;
}

.first{
	float: right;
    position: relative;
    z-index: 0;
    top: -130px;
}
.second{
	float: right;
	position: relative;
	z-index: 1;
	top: 10px;
} 
.section{
	width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 0;
    opacity: 0.3;
}
.section:hover {
    opacity: 1;
}

.btn-outline-secondary{
	border-radius: 50px;

}
#top-margin{
	margin-top: 0px;
}
h1{
	text-align: center;
	margin-top: 30px;
}
#left{
	margin-left: -4px;
}
.display{
	display: flex;
}
#margin{
    float: right;
}
.col-md-8{
	margin-left: 0px;
}
.secondPara{
	position: relative;
    z-index: 1;
    bottom: -135px;
    left: 12px;
}
.btn-outline-warning{
	position: relative;
    z-index: 1;
    left: -100px;
    top: 11px;
    height: 44px;
    color: black;
    background-color: white;
    border: none;
}
.png{
	width: 130px;
}
#foot{
	text-align: right;
}
.foot-icon{
	display: flex;
    justify-content: space-between;
    width: 130px;
    height: 0px;
    float: right;
}*/