.navbar{
	position: relative;
	z-index: -1;
	padding-left: 0;
}
#col-1{
	top: -305px;
}
.logo{
    margin-left: 360px;
    width: 100px;
    height: 65px;
    padding-top: 16px;
}
#nav-icon{

}
.icon{
	display: grid;
}
.fa-search{
	position: absolute;
    z-index: 2;
    right: -17px;
}
.img-para{
	text-align: center;
    position: relative;
    z-index: 1;
    bottom: -140px;
}

.btn-primary {
	border-radius: 0px;
}

.button{
	position: relative;
	z-index: 1;
	left: 78px;
	border-radius: 0px;
	top: -39px;
}
.button > .fa-play{
	color: #000;
	height: 100%;
}

.button > span{
	width: 120px;
	height: 120px;
	background-color: #fff !important;
	padding: 14px;
	margin-left: -6px;
	padding-bottom: 18px;
	padding-right: 30px;
}

.first{
	float: right;
	position: relative;
	z-index: -1;
    top: -55px;
}
.second{
	float: right;
	position: relative;
	z-index: 1;
	top: 10px;
} 
.section{
	width: 250px;
    height: 250px;
    background-size: cover;
    background-position: center;
    display: inline-block;
    margin: 0;
    opacity: 0.3;
}
.section:hover {
    opacity: 1;
}

.btn-outline-secondary{
	border-radius: 50px;

}
h1{
	text-align: center;
}
.col-md-8{
	margin-left: -95px;
}
.secondPara{
	position: relative;
    z-index: 1;
    bottom: -135px;
    left: 95px;
}
.btn-outline-warning{
	position: relative;
    z-index: 1;
    left: 600px;
    top: -125px;
    color: black;
    background-color: white;
    border: none;
}
.png{
	width: 150px;
}
#foot{
	text-align: right;
}